html,
body {
	height:	100%;
	background: #F4F4F4;
}

.grid,
.desktop,
.desktop ul,
.menu {
	height:100%
}


.note {
	min-width: 150px;
	min-height: 150px;
	position: absolute;
	display: block;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.75);
}

.note div {
	display: inline-block;
	outline: none;
}


.menu {
	background: #1D2027;
}

.menu ul {
	list-style: none;
	padding:	0;
	margin: 0;
}

.menu a {
	display: block;
	padding: 20px 10% 20px 10%;
	text-decoration: none;
	color: #999999;
}

.menu a:hover {
	background: #313439;
}

.menu .active a {
	background: #515459;
	color: #DDDDDD;
}

.menu a:before {
	content: ' ';
	border: 1px solid #999999;
	display: inline-block;
	height: 16px;
	width: 30px;
	position: relative;
	top: 3px;
	margin-right: 8%;
}


.plus {
	border-top: 1px solid #313439;
}

.plus button {
	font-size: 3em;
	background: transparent;
	border: none;
	color: #999999;
	width:	100%;
}

.plus button:focus {
	outline: 1px solid #313439;
}

.plus button:hover {
	background: #313439;
}


.add-note {
	margin-top: 3em;
}

.add-note button {
	display: inline-block;
	height:	76px;
	width: 76px;
	font-size: 1.8em;
	margin: 0 1%;
	color: rgba(0, 0, 0, 0.3);
}


.note-theme {
	border: none;
	color: rgba(0, 0, 0, 0.6);
}

.note-theme.text {
	background: #FD8E07;
}

.note-theme.image {
	background: #71459A;
}







