
.note {
	min-width: 150px;
	min-height: 150px;
	position: absolute;
	display: block;
	background: yellow;
}

.note textarea {
	border: 0;
	outline: 0;
	box-shadow: none;
	margin: 0;
	background: none;
}
