html,
body {
	height:	100%;
	background: #F4F4F4;
}


.grid,
.desktop,
.desktop ul,
.menu {
	height:100%
}


.desktop {
	position: relative;

	ul {
		list-style-type: none;
	}
}


.note {
	min-width: 200px;
	min-height: 200px;
	padding: 14px 14px 0 14px;
	position: absolute;

	div:focus {
		outline: none;
	}
}


/* Folded corner */
.note-theme {
	&.text:after {
   		border-color: #FD8E07;
	}

	&.image:after {
   		border-color: #71459A;
	}

	&.text:before {
	   border-color: #a95f05 transparent;
	}

	&.image:before {
	   border-color: #3f2656 transparent;
	}

	&:after {
	   content: "";
	   position: absolute;
	   left: 0;
	   border-style: solid;
	}

	&:before {
	   content: "";
	   position: absolute;
	   right: 0;
	   border-style: solid;
	}
}


.note {
	&:after {
		bottom: -1em;
		right: 1em;
		border-width: 0.5em;
	}

	&:before {
		bottom: -1em;
		border-width: 1em 1em 0 0;
	}
}


.note-button {
	&:after {
	   bottom: -0.5em;
	   right: 0.5em;
	   border-width: 0.25em;
	}

	&:before {
	   bottom: -0.5em;
	   border-width: 0.5em 0.5em 0 0;
	}
}
/* // Folded corner */


.menu {
	background: #1D2027;

	ul {
		list-style: none;
		padding:	0;
		margin: 2em 0 0 0;
		border-top: 1px solid #313439;
	}

	.active a {
		background: #515459;
		color: #DDDDDD;
	}

	a {
		display: block;
		padding: 20px 10% 20px 10%;
		text-decoration: none;
		color: #999999;

		&:hover {
			background: #313439;
		}

		&:before {
			content: ' ';
			border: 1px solid #999999;
			display: inline-block;
			height: 16px;
			width: 30px;
			position: relative;
			top: 3px;
			margin-right: 8%;
		}

	}

}


.plus {
	border-top: 1px solid #313439;

	button {
		font-size: 3em;
		background: transparent;
		border: none;
		color: #999999;
		width:	100%;
	}

	button:focus {
		outline: 1px solid #313439;
	}

	button:hover {
		background: #313439;
	}
}


.add-note {
	margin-top: 3em;
}


.note-button {
	position:	relative; /* for folded corners to work */
	display: inline-block;
	height:	60px;
	width: 76px;
	font-size: 1.8em;
	margin: 0 1%;
	color: rgba(0, 0, 0, 0.3);
	padding-top: 14px;
}


.note-theme {
	border: none;
	color: rgba(0, 0, 0, 0.6);

	&.text {
		background: #FD8E07;
	}

	&.image {
		background: #71459A;
	}
}






