$body-background: #F4F4F4;
$dark-background: #1D2027;

$menu-active-background: #515459;
$menu-active-color: #DDDDDD;
$menu-text-color: #999999;

$light-border-color: #313439;
$light-background: #313439;

$text-note-background: #FD8E07;
$image-note-background: #71459A;
$text-note-corner-color: #a95f05;
$image-note-corner-color: #3f2656;