@import '_colors';

html,
body {
  height: 100%;
  background: $body-background;
}


body {
  padding-bottom: 20px;
}


.grid,
.desktop,
.desktop ul,
.menu {
  height: 100%
}


.desktop {
  position: relative;

  ul {
    list-style-type: none;
  }
}


.note {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  padding: 14px 14px 0 14px;
  position: absolute;

  &:after {
    bottom: -1em;
    right: 1em;
    border-width: 0.5em;
  }

  &:before {
    bottom: -1em;
    border-width: 1em 1em 0 0;
  }

  div:focus {
    outline: none;
  }
}


/* Folded corner */
.note-theme {
  &.text:after {
      border-color: $text-note-background;
  }

  &.image:after {
      border-color: $image-note-background;
  }

  &.text:before {
     border-color: $text-note-corner-color transparent;
  }

  &.image:before {
     border-color: $image-note-corner-color transparent;
  }

  &:after {
     content: "";
     position: absolute;
     left: 0;
     border-style: solid;
  }

  &:before {
     content: "";
     position: absolute;
     right: 0;
     border-style: solid;
  }
}


.note-button {
  &:focus {
    outline: none;
  }

  &:after {
     bottom: -0.5em;
     right: 0.5em;
     border-width: 0.25em;
  }

  &:before {
     bottom: -0.5em;
     border-width: 0.5em 0.5em 0 0;
  }
}
/* // Folded corner */

.menu,
.menu ul,
.plus {
  background: $dark-background;
}


.menu {
  ul {
    list-style: none;
    padding:  0;
    margin: 2em 0 0 0;
    border-top: 1px solid $light-border-color;
  }

  .active a {
    background: $menu-active-background;
    color: #DDDDDD;
  }

  a {
    display: block;
    padding: 20px 10% 20px 10%;
    text-decoration: none;
    color: $menu-text-color;

    &:hover {
      background: $light-background;
    }

    &:before {
      content: ' ';
      border: 1px solid $menu-text-color;
      display: inline-block;
      height: 16px;
      width: 30px;
      position: relative;
      top: 3px;
      margin-right: 8%;
    }

  }

}


.plus {
  border-top: 1px solid $light-border-color;

  button {
    font-size: 3em;
    background: transparent;
    border: none;
    color: $menu-text-color;
    width:  100%;
  }

  button:focus {
    outline: 1px solid $light-border-color;
  }

  button:hover {
    background: $light-background;
  }
}


.add-note {
  margin-top: 3em;
}


.note-button {
  position: relative; /* for folded corners to work */
  display: inline-block;
  height: 60px;
  width: 76px;
  font-size: 1.8em;
  margin: 0 1%;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 14px;
}


.note-theme {
  border: none;
  color: rgba(0, 0, 0, 0.6);

  &.text {
    background: $text-note-background;
  }

  &.image {
    background: $image-note-background;
  }
}






