<div class="grid no-gutters">
	<div id="menu" class="menu unit one-fifth">
		<div id="add-note" class="add-note align-center"></div>
		<div id="desktops-menu"></div>
		<div id="add-desktop" class="plus align-center"></div>
	</div>
	<div id="desktop" class="desktop unit four-fifths"></div>
</div>
